db-files/database.ini
db-files/protocols-data.py
db-files/__pycache__/config.cpython-312.pyc
.vscode/launch.json
knesset360-frontend/src/components/KnessetButtons.jsx
knesset360-frontend/src/components/KnessetButtons.css
PlenumVote.csv
PlenumVoteResult-final.csv
db-schema.pgerd
knesset360-backend/app/output.csv
knesset360-backend/app/routes/__pycache__/
knesset360-backend/app/__pycache__/
knesset360-frontend/public/mk-photos/
db-files/__pycache__/config.cpython-314.pyc
knesset360-backend/app/ollama_check.py
knesset360-backend/app/ollama_check2.py
knesset360-backend/app/quotes.py
knesset360-backend/app/__pycache__/config.cpython-312.pyc
knesset360-backend/app/__pycache__/db.cpython-312.pyc
knesset360-backend/app/__pycache__/main.cpython-312.pyc
knesset360-backend/app/__pycache__/main.cpython-313.pyc
knesset360-backend/app/__pycache__/db.cpython-313.pyc
knesset360-backend/app/__pycache__/config.cpython-313.pyc
.claude/calude.md
.claude/settings.local.json
